<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MongoDB 데이터 저장하기 테스트</title>
    <link rel="stylesheet" href="/css/table.css" />
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        //html 로딩이 완료되고 실행됨
        $(document).ready(function (){
            const btnSend = document.getElementById("btnSend");

            btnSend.addEventListener("click", e=> {
                doSend();
            })

            function doSend(){
                $.ajax({
                    url:"/mongo/test",
                    type:"post",
                    dataType:"JSON",
                    data:$("#f").serialize(),
                    success:function (json){
                        alert(json.msg);
                    }
                })
            }
        })
    </script>
</head>
<body>

</body>
</html>